@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SSDM</h1>
    <p>Learn about <a href="http://www.ssdmsoftware.com">SSDM Software Sdn Bhd</a>.</p>
</div>
